body{
    background-color: aquamarine;
}
#navbar{
    margin-top: 2%;
}
#home>a{
   color: white;
   font-style: oblique;
   font-size: x-large;
}
#home>a:hover{
    color: rgb(12, 238, 12);
}
#headp{
   text-align: center;
   font-size: large;
}
h1{
text-align: center;
padding-top: 2%;
}
em{
    color:red;
    font-size: larger;
}
h2{
    text-align: center;
    color: white;
}
#menu1{
    background-color: rgb(11, 63, 11);
}
#menu>div{
    display: flex;
    justify-content:space-around;
    color: white;
    font-size: larger;
}
#menu>div>p>img{
    padding: 30px;
}
h3{
    color:magenta;
    font-family:cursive;
    font-style: italic;
}
#orderpart{
    margin-bottom: 3%;
    margin-top: 2%;
}
#checkout{
    padding-top: 1%;
}
.form-select {
    color: rgb(1, 136, 1);
}
#contact{
    text-align: center;
    background-color: rgb(13, 63, 13);
    color: white;
    font-size: x-large;
}